/*
**************************************
CSS Bereich für die Home.html Datei !!!!
**************************************
/*Standard Formatierung der Seite entfernen*/
* {
    margin: 0;
    padding: 0;
}

/*Anschaulicheres Format der Website*/
body {
    margin: 5%;
    background-color: #99d9ea;
}

/*Überschrift formatiert*/
header p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5%;
}

/*Zentrierung des Bildes*/
#homePic {
    display: block;
    margin: auto;
    border: solid;
    border-color: #3f48cc;
}

/*We Books Schrift positionieren */
#weBooks {
    position: absolute;
    display: block;
    margin: 8% 0 0 22%;
    font-size: 72px;
    font-weight: bold;
    color: #3f48cc;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 6em;
}

/*Auswahlmenü zentriert und mit Rahmen versehen*/
#menu {
    margin: 5% 40% 0 40%;
    border: solid;
    border-color: #3f48cc;
}

/*Style für die Links im Menü*/
#menu a {
    padding: 5% 0 5% 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 18px;
    text-decoration: none;
    background-color: #00a2e8;
}

#menu a:hover {
    color: black;
    background-color: #3f48cc;
}

/*
*************************************
*Ende des Bereichs für Home.html !!!!
*Start des Bereichs für book_entry.html!!!
*************************************
*/
/*Überschrift für book_entry.html*/
header #bookentry{
    color: #3f48cc;
}

/*Formular für Buch anlegen*/
section #bookInfos {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
}

label {
    display: block;
    width: 10em;
    float: left;
    color: #3f48cc;
}

.txtfield {
    margin-bottom: 6%;
}

select {
    float: left;
    display: block;
    width: 13em;
    margin-bottom: 2%;
    text-align: right;
}

.boxdescr {
    margin-left: 3%;
    color: black;
}

.box {
    float: left;
    clear: both;
    margin-left: 40%;
}

#absenden {
    position: absolute;
    bottom: 10%;
    left: 40%;
    border: solid;
    border-color: #3f48cc;
    background-color: #00a2e8;
    color: #3f48cc;
    font-weight: 900;
    width: 20em;
    height: 3em;
}

div {
    float: left;
    margin-right: 10%;
}


