/*
**************************************
CSS Bereich für die Home.html Datei !!!!
**************************************
/*Standard Formatierung der Seite entfernen*/
* {
    margin: 0;
    padding: 0;
}

/*Anschaulicheres Format der Website*/
body {
    margin: 5%;
    background-color: #99d9ea;
}

/*Überschrift formatiert*/
header {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 5%;
}

/*Zentrierung des Bildes*/
#homePic {
    display: block;
    margin: auto;
    border: solid #3f48cc;
}

/*We Books Schrift positionieren */
#weBooks {
    position: absolute;
    display: block;
    margin: 8% 0 0 22%;
    font-size: 72px;
    font-weight: bold;
    color: #3f48cc;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 6em;
}

/*Auswahlmenü zentriert und mit Rahmen versehen*/
#homeMenu {
    margin: 5% 40% 0 40%;
    border: solid #3f48cc;
}

/*Style für die Links im Menü*/
#homeMenu a {
    padding: 5% 0 5% 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    display: block;
    font-size: 18px;
    text-decoration: none;
    background-color: #00a2e8;
}

#homeMenu a:hover {
    color: black;
    background-color: #3f48cc;
}

/*
*************************************
*Ende des Bereichs für Home.html !!!!
*Start des Bereichs für book_entry.html!!!
*************************************
*/

/*Formular für Buch anlegen*/
#formularBereich #bookInfos {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
}

#formularBereich label {
    display: block;
    width: 10em;
    float: left;
    color: #3f48cc;
}

#formularBereich .txtfield {
    margin-bottom: 6%;
}

#formularBereich select {
    float: left;
    display: block;
    width: 13em;
    margin-bottom: 2%;
    text-align: right;
}

#formularBereich .boxdescr {
    margin-left: 3%;
    color: black;
}

#formularBereich .box {
    float: left;
    clear: both;
    margin-left: 40%;
}

#formularBereich #send {
    position: absolute;
    bottom: 10%;
    left: 40%;
    border: solid #3f48cc;
    background-color: #00a2e8;
    color: #3f48cc;
    font-weight: 900;
    width: 20em;
    height: 3em;
}

#formularBereich div {
    float: left;
    margin-right: 10%;
}

/*
*************************************
*Ende des Bereichs für book_entry.html !!!!
*Start des Bereichs für book.html!!!
*************************************
*/
#überschrift {
    color: #3f48cc;
}

#menuHeader {
    border:solid #3f48cc thick ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-bottom: 2%;
    background-color: #00a2e8;
    margin-bottom: 2%;
}

#horrorTab {
    color: black;
    float: left;
    display: block;
    width:50%;
}

#romanTab {
    color: black;
    float:left;
    width:50%;
}

#horrorTab:hover {
    background-color: #3f48cc;
}

#romanTab:hover {
    background-color: #3f48cc;
}


